[project]
name = "did-peer-4"
version = "0.1.0.post0"
description = "An implementation of did:peer:4"
authors = [
    {name = "Daniel Bluhm", email = "dbluhm@pm.me"},
]
dependencies = [
    "multiformats>=0.2.1",
    "typing-extensions<4.6.0",
]
requires-python = ">=3.9"
readme = "README.md"
license = {text = "Apache-2.0"}

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.dev-dependencies]
dev = [
    "pytest>=7.4.0",
    "black>=23.7.0",
    "ruff>=0.0.285",
    "pre-commit>=3.3.3",
]
